<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yogapay.wx.service.ConfigService">
   
	<select id="queryWebConfig"  parameterType="String" resultType="com.yogapay.wx.entity.WXWebConfig">
		SELECT * FROM Config s1
		JOIN WebConfig s2 ON s2.uid=s1.uid
		WHERE s1.uid=#{uid}
	</select>
	
	<select id="queryOne" resultType="com.yogapay.wx.entity.WXConfig">
		SELECT * FROM Config s1
		WHERE s1.app_id=#{app_id} AND s1.mch_id=#{mch_id}
		LIMIT 0,1
	</select>
</mapper>